### 1. Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
print("Mehdi", 4, False, 15.1)

Mehdi 4 False 15.1

### 2. Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [1]:
print("Mehdi", 4, False, 15.1, sep='-')

Mehdi-4-False-15.1

### 3. Using the python print function print any string value, integer value, boolean value, float value in separate print command. But every value must be space separated and in single line

In [1]:
print("Mehdi", end=' ')
print(4, end=' ')
print(False, end=' ')
print(15.1, end= ' ')

Mehdi 4 False 15.1

### 4. Can a python print function take no value to print???

In [2]:
print("")

### 5. Create variables from above text and also assign values from the text

In [3]:
name  = "Mr. Ahmed"
age = 30
profession = "lawyer"
bachelorsYear = 2005
firmName = "The Himalya Associates"
workingSince = 2015
height = "5.10 feet"
weight = 70600
income = 200000
currentYear = 2024
exchangeRate = 272

### 6. How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [6]:
print(currentYear - bachelorsYear)

19

### 7. How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [19]:
print(currentYear - workingSince)

9

### 8. Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars

In [4]:
print(f"${income/exchangeRate}")

$735.2941176470588

### 9. Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [5]:
print(f"${int(income/exchangeRate)}")

$735

### 10. Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value

In [6]:
print(type(weight))
print(f"{int(weight/1000)} kg")

<class 'int'>
70 kg

### 11. Print the year of birth of Mr. Ahmed

In [7]:
print(currentYear - age)

1994

### 12. Can Rs. 100 be divided equally among 6 students?

In [8]:
print(100%6)

4

### 13. Create and print a card

In [9]:
print(f"""
      ---------------------------
      -     Saylani Mass IT     -
      -                         -
      -                         -
      -  Name : Muhammad Mehdi  -
      -  Course : AI and DS     -
      -  Days   : Tue and Thu   -
      -  ID     : AI - 334617   -
      -  Phone: 0333-3706093    -
      -  CNIC: 42201-41710210   -
      -                         -
      ---------------------------      
      """)

      ---------------------------
      -     Saylani Mass IT     -
      -                         -
      -                         -
      -  Name : Muhammad Mehdi  -
      -  Course : AI and DS     -
      -  Days   : Tue and Thu   -
      -  ID     : AI - 334617   -
      -  Phone: 0333-3706093    -
      -  CNIC: 42201-41710210   -
      -                         -
      ---------------------------